# Python
__pycache__/
*.py[cod]
*.pyo

# PyInstaller
build/
dist/
*.spec

# Base de données (chaque installation a la sienne)
cantine.db

# Dossiers générés
bons_pdf/
signature/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
